body {
  background-color: #B0C4DE;
  }
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 7px;
  width: 7%
}
h1 {
  color: blue;
  text-decoration: underline;
  text-transform: uppercase;
}
h3{
  color: blue;
  text-decoration: underline;
  text-transform: uppercase;
}
